<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	
	<bean id="fruitBasket" class="spring.beans.com.FruitBasket">
		<constructor-arg>
			<list>
				<value>Banana</value>
				<value>Apple</value>
				<value>Kiwi</value>
				<value>Orange</value>
				<value>Plum</value>
				<value>Grape</value>
			</list>
		</constructor-arg>
		<constructor-arg value="John"></constructor-arg>
	</bean>
</beans>
