<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean name="jungle" class="springListOfBeans.Jungle">
		<property name="foods">
			<props>
				<prop key="snake">eggs</prop>
				<prop key="lion">zebra</prop>
				<prop key="elephant">plants</prop>
			</props>
		</property>
	</bean>


	<bean id="lion" class="springListOfBeans.Animals">
		<property name="name" value="Ron"></property>
		<property name="type" value="lion"></property>
	</bean>
	<bean id="elephant" class="springListOfBeans.Animals">
		<property name="name" value="Tim"></property>
		<property name="type" value="elephant"></property>
	</bean>
	<bean id="snake" class="springListOfBeans.Animals">
		<property name="name" value="Tim"></property>
		<property name="type" value="snake"></property>
	</bean>

</beans>
